target/
build/
.gradle/
.nb-gradle/
nbproject/
.nb-gradle-properties
.classpath
.project
.settings
.vscode
/modules/manager/logs/error.log
/modules/manager/logs/events.log
/modules/manager/private/
nb-configuration.xml
/mock/mock.exe
.idea
*.iml
.factorypath
nbactions.xml
tests/acceptance/www/caddy.exe
distribution/core_modules/modules/*/