<?xml version="1.0" encoding="UTF-8"?>
<!--
#%L
webtools-manager
%%
Copyright (C) 2016 - 2018 Thorsten Marx
%%
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public
License along with this program.  If not, see
<http://www.gnu.org/licenses/gpl-3.0.html>.
#L%
-->

<web-app metadata-complete="true" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<context-param>
		<param-name>configuration</param-name>
		<param-value>deployment</param-value>
	</context-param>
	
	<context-param>
		<param-name>STAGE</param-name>
		<param-value>development</param-value>
	</context-param>
	<listener>
		<listener-class>com.thorstenmarx.webtools.ContextListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>TrackingPixel</servlet-name>
		<servlet-class>com.thorstenmarx.webtools.web.servlets.ImageServlet</servlet-class>
		<async-supported>true</async-supported>
	</servlet>
	<servlet>
		<servlet-name>JSConfigurationServlet</servlet-name>
		<servlet-class>com.thorstenmarx.webtools.web.servlets.JSConfigurationServlet</servlet-class>
		<async-supported>true</async-supported>
	</servlet>
	<servlet>
		<servlet-name>JSTrackingServlet</servlet-name>
		<servlet-class>com.thorstenmarx.webtools.web.servlets.JSTrackingServlet</servlet-class>
		<async-supported>true</async-supported>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>TrackingPixel</servlet-name>
		<url-pattern>/pixel</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JSConfigurationServlet</servlet-name>
		<url-pattern>/js/configuration.js</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JSTrackingServlet</servlet-name>
		<url-pattern>/js/webtools.js</url-pattern>
	</servlet-mapping>
	
	<absolute-ordering/>
</web-app>
